;; shadow-cljs configuration
{:deps {:aliases [:cljs :dev]}
 :jvm-opts ["-Dlogging.enabled=false"]
 :dev-http {8081 {:roots ["public"
                          "dist/browser"]}}
 :builds
 {:dev
  {:target :node-script
   :main user/-main
   :output-to "out/dev.js"
   :build-hooks [(build/hook)]
   :compiler-options {:source-map true
                      :pretty-print true
                      :pseudo-names true
                      :reader-features #{:dev}}
   :devtools {:repl-init-ns user
              :repl-pprint true}}

  :test
  {:target    :node-test
   :output-to "out/node-tests.js"
   :ns-regexp "^(example.*|pondermatic.*)$"
   :build-hooks [(build/hook)]
   :release {:compiler-options {:source-map true
                                :pretty-print true
                                :pseudo-names true}
             :reader-features #{:test}}}
  :browser-test
  {:target    :karma
   :output-to "out/karma-tests.js"
   :build-hooks [(build/hook)]
   :compiler-options {:pretty-print true
                      :pseudo-names true
                      :reader-features #{:browser :browser-test}}
   :ns-regexp "^(example.*|pondermatic.*)$"}

  :node
  {:target :npm-module
   :output-dir "dist/module"
   :build-hooks [(build/hook)]
   :compiler-options {:reader-features #{:node}}
   :entries [pondermatic.index]}

  :portal
  {:target :node-script
   :main pondermatic.portal.server/-main
   :output-to "dist/portal.js"}

  :npm
  {:target :node-library
   :output-to "dist/cjs/index.js"
   :build-hooks [(build/hook)]
   :compiler-options {:output-feature-set :es5
                      :source-map false
                      :reader-features #{:npm}}
   :exports-var pondermatic.index/exports}

  :esm
  {:target :esm
   :output-dir "dist/mjs"
   :runtime :browser
  ;;  :js-options {:js-provider :import}
  ;;  :js-options {:entry-keys ["module" "browser" "main"]}
   :build-hooks [(build/hook)]
   :compiler-options {:reader-features #{:browser :esm}
                      :source-map false
                      :output-feature-set :es5
                      :pseudo-names true
                      :pretty-print true}
   :modules {:shared
             {:entries []}
             :index
             {:exports {default pondermatic.index/exports}
              :depends-on #{:shared}}
             :worker
             {:init-fn pondermatic.web.worker/init
              :depends-on #{:shared}}}
   :release {}}
  :browser
  {:target :browser
   :output-dir "dist/browser/js"
   :asset-path "/js"
   :prepend-js "js/worker.js"
   :compiler-options {:reader-features #{:browser}}
   :modules {:shared
             {:entries []}
             :main
             {:entries [pondermatic.index]
              :depends-on #{:shared}}
             :worker
             {:init-fn pondermatic.web.worker/init
              :depends-on #{:shared}
              :web-worker true}}}}}
