;; shadow-cljs configuration
{:deps {:aliases [:cljs :dev]}
 :jvm-opts ["-Dlogging.enabled=false"]
 :dev-http {8081 {:roots ["public"
                          "dist/browser"]}}
 :builds
 {:dev
  {:target :node-script
   :main user/-main
   :output-to "out/dev.js"
  ;;  :build-hooks [(build/hook)]
   :compiler-options {:source-map true
                      :pretty-print true
                      :pseudo-names true
                      :reader-features #{:cljs/dev}}
   :devtools {:repl-init-ns user
              :repl-pprint true}}

  :test
  {:target    :node-test
   :output-to "out/node-tests.js"
   :ns-regexp "^(example.*|pondermatic.*)$"
  ;;  :build-hooks [(build/hook)]
   :release {:compiler-options {:source-map true
                                :pretty-print true
                                :pseudo-names true}
             :reader-features #{:test}}}
  :browser-test
  {:target    :karma
   :output-to "out/karma-tests.js"
  ;;  :build-hooks [(build/hook)]
   :compiler-options {:pretty-print true
                      :pseudo-names true
                      :reader-features #{:cljs/browser :cljs/browser-test}}
   :ns-regexp "^(example.*|pondermatic.*)$"}

  :node
  {:target :npm-module
   :output-dir "dist/module"
  ;;  :build-hooks [(build/hook)]
   :compiler-options {:reader-features #{:cljs/node}}
   :entries [pondermatic.index]}

  :portal
  {:target :node-script
   :main pondermatic.portal.server/-main
   :output-to "dist/portal.js"}

  :npm
  {:target :node-library
   :output-to "dist/cjs/index.js"
  ;;  :build-hooks [(build/hook)]
   :compiler-options {:output-feature-set :es5
                      :reader-features #{:cljs/npm}}
   :exports-fn pondermatic.index/exports}

  :esm
  {:target :esm
   :output-dir "dist/mjs"
   :runtime :browser
  ;;  :js-options {:js-provider :import}
  ;;  :js-options {:entry-keys ["module" "browser" "main"]}
  ;;  :build-hooks [(build/hook)]
   :compiler-options {:reader-features #{:cljs/esm :cljs/browser}
                      :output-feature-set :es5
                      :pseudo-names true
                      :pretty-print true}
   :modules {:index
             {:exports {default pondermatic.index/exports}
              :depends-on #{}}}
   :release {}}
  
  :browser
  {:target :browser
   :output-dir "dist/browser"
   :asset-path "/"
   :compiler-options {:reader-features #{:cljs/browser}}
   :modules {:shared
             {:entries []}
             :api
             {:init-fn pondermatic.index/init
              :depends-on #{:shared}}
             :browser
             {:init-fn pondermatic.browser.handler/init
              :depends-on #{:shared}}
             :worker
             {:init-fn pondermatic.browser.worker/init
              :web-worker true}}}}}
