;; shadow-cljs configuration
{:deps {:aliases [:cljs :dev]}
 :jvm-opts ["-Dlogging.enabled=false"]
 :builds
 {:dev
  {:target :node-script
   :main user/-main
   :output-to "out/dev.js"
   :devtools {:repl-init-ns user
              :repl-pprint true}}
  :test
  {:target    :node-test
   :output-to "out/node-tests.js"
   :compiler-options {}
   :ns-regexp "^(pondermatic.*|example.*)"}

  :browser-test
  {:target    :karma
   :output-to "out/karma-tests.js"
   :compiler-options {}
   :ns-regexp "^(pondermatic.*|example.*)"}

  :node
  {:target :npm-module
   :output-dir "dist/module"
   :compiler-options {}
   :entries [pondermatic.index]}

  :portal
  {:target :node-script
   :main pondermatic.portal.server/-main
   :output-to "dist/portal.js"
   :devtools {:repl-init-ns user
              :repl-pprint true}}
  
  :npm
  {:target :node-library
   :output-to "dist/cjs/index.js"
   :compiler-options {:source-map true}
   :exports-var pondermatic.index/exports}

  :esm
  {:target :esm
   :output-dir "dist/mjs"
   :runtime :browser
  ;;  :js-options {:js-provider :import}
  ;;  :js-options {:entry-keys ["module" "browser" "main"]}
   :compiler-options {:reader-features #{:browser}
                      :source-map true
                      :output-feature-set :es6}
   :modules {:index {:exports {default pondermatic.index/exports}}}
   :release {}}}}
